<mat-form-field class="reserve-form-field">
  <mat-label>Reserve</mat-label>
  <mat-date-range-input
    [formGroup]="reserveForm"
    [rangePicker]="reservePicker"
    [comparisonStart]="reserveForm.value.start"
    [comparisonEnd]="reserveForm.value.end"
  >
    <input matStartDate placeholder="Start date" formControlName="start" />
    <input matEndDate placeholder="End date" formControlName="end" />
  </mat-date-range-input>
  <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle
    matIconSuffix
    [for]="reservePicker"
  ></mat-datepicker-toggle>
  <mat-date-range-picker #reservePicker>
    <mat-date-range-picker-actions>
      <button mat-raised-button color="warn" matDateRangePickerCancel>Cancel</button>
      <button mat-raised-button color="primary" matDateRangePickerApply>
        Apply
      </button>
    </mat-date-range-picker-actions>
  </mat-date-range-picker>
</mat-form-field>
